@import "vars";
@import "mixins";
@import "vendor/reset";




html {
    font-size: 13px;
    font-family: $book;

    // @include breackpoint($br-2560) {
    //     font-size: 10px;
    // }

    // @include breackpoint($br-1920) {
    //     font-size: 8.75px;
    // }
   
    // @include breackpoint($br-1680) {
    //     font-size: 7.5px;
    // }
    
    // @include breackpoint($br-1440) {
    //     font-size: 6.6px;
    // }

    // @include breackpoint($br-1280) {
    //     font-size: 5.3px;
    // }

    // @include breackpoint($br-1024) {
    //     font-size: 4px;
    // }

    // @include breackpoint($br-768) {
    //     font-size: 3.5px;
    // }

    // @include breackpoint($br-666) {
    //     font-size: 3.0px;
    // }

    

    // @include breackpoint($br-mobLarge) {
    //     font-size: 2.5px;
    // }
}


// @media only screen and (max-width: $br-mobSmall) {
//     html{
//        font-size: 4px !important;
//      }
// }

@media only screen and (max-width: $br-mobLarge) {
    html{
       font-size: 4px !important;
     }
}



@media only screen and (min-width: $br-768) {
   html {
       font-size: 5.3px !important;
   }
}

@media only screen and (min-width: $br-1024) {
   html {
       font-size: 6px !important;
   }
}

@media only screen and (min-width: $br-1280) {
  html {
       font-size: 6.6px !important;
   }
}

@media only screen and (min-width: $br-1440) {
   html {
       font-size: 7.5px !important;
   }
}

@media only screen and (min-width: $br-1680) {
   html {
       font-size: 8.75px !important;
   }
}

@media only screen and (min-width: $br-1920) {
  html {
       font-size: 10px !important;
   }
}

@media only screen and (min-width: $br-2560) {
    html {
         font-size: 13px !important;
     }
  }

body {
    background-color: $white;
   
    // color: $white;
    
}
h1 {
    font-family: $bold;
    font-size: 6.6rem;
    line-height: 8.5rem;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: $white;
}

h3 {
    font-family: $demi;
    font-size: 3.6rem;
    line-height: 4.6rem;
    text-align: center;
    text-transform: uppercase;

    @include breackpoint($br-mobLarge) {
        font-size: 24px;
        line-height: 30.77px;
    }
}

h4 {
    font-family: $demi;
    // text-transform: uppercase;
}
  
h5 {
    font-family: $medium;
    font-size: 2rem;
    line-height: 3.8rem;
    
    text-transform: uppercase;

    // @include breackpoint($br-1680) {
    //     font-size: 1.8rem;
    //     line-height: 3rem;
    // }

    // @include breackpoint($br-1440) {
    //     font-size: 1.6rem;
    //     line-height: 2.4rem;
        
    // }
}

a {
    
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: $black;
    transition: 1s;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

@import "blocks/sidebar";
@import "blocks/main";
@import "blocks/container";
@import "blocks/header";
@import "blocks/start";
@import "blocks/input";
@import "blocks/arrows";
@import "blocks/about_company";
@import "blocks/services_solutions";
@import "blocks/button";
@import "blocks/loans";
@import "blocks/company";
@import "blocks/clients";
@import "blocks/footer";
@import "blocks/slider";



    
      @font-face {
        font-family: 'Futura PT Demi';
        src: url('../assets/fonts/fonts/FuturaPT-Demi.eot');
        src:  url('../fonts/fonts/FuturaPT-Demi.woff') format('woff'), 
              url('../fonts/fonts/FuturaPT-Demi.ttf') format('truetype'),
              url('../fonts/fonts/FuturaPT-Demi.svg') format('svg'),
              url('../fonts/fonts/FuturaPT-Demi.eot') format('embedded-opentype');
        font-weight: 600;
        font-style: normal;
      }
      @font-face {
        font-family: 'Futura PT Book';
        src: url('../assets/fonts/fonts/FuturaPT-Book.eot');
        src:  url('../fonts/fonts/FuturaPT-Book.woff') format('woff'), 
              url('../fonts/fonts/FuturaPT-Book.ttf') format('truetype'),
              url('../fonts/fonts/FuturaPT-Book.svg') format('svg'),
              url('../fonts/fonts/FuturaPT-Book.eot') format('embedded-opentype');
        font-weight: 400;
        font-style: book;
      }
      @font-face {
        font-family: 'Futura PT Bold';
        src: url('../assets/fonts/fonts/FuturaPT-Bold.eot');
        src:  url('../fonts/fonts/FuturaPT-Bold.woff') format('woff'), 
              url('../fonts/fonts/FuturaPT-Bold.ttf') format('truetype'),
              url('../fonts/fonts/FuturaPT-Bold.svg') format('svg'),
              url('../fonts/fonts/FuturaPT-Bold.eot') format('embedded-opentype');
        font-weight: 700;
        font-style: normal;
      }
      @font-face {
        font-family: 'Futura PT Medium';
        src: url('../assets/fonts/fonts/FuturaPT-Medium.eot');
        src:  url('../fonts/fonts/FuturaPT-Medium.woff') format('woff'), 
              url('../fonts/fonts/FuturaPT-Medium.ttf') format('truetype'),
              url('../fonts/fonts/FuturaPT-Medium.svg') format('svg'),
              url('../fonts/fonts/FuturaPT-Medium.eot') format('embedded-opentype');
        font-weight: 500;
        font-style: normal;
      }