$bold: 'Futura PT Bold';
$medium: 'Futura PT Medium';
$demi: 'Futura PT Demi';
$book: 'Futura PT Book';

$white: #fff;
$black: #000;
$dark_black: #1C0B05;
$gold: #FEBA03;
$red: #E04A38;
$grey: #F8FAFC;
$dark_grey: #E5E5E5;

$sidebar-width: 20rem;


$br-2560: 2560px;
$br-1920: 1919px;
$br-1680: 1679px;
$br-1440: 1439px;
$br-1366: 1365px;
$br-1280: 1279px;
$br-1024: 1025px;
$br-768:  767px;


$br-mobLarge: 767px;
$br-mobSmall: 426px;
