.about_company {
    
    margin: 0 auto;
    top: -5rem;
    color: $black;
    line-height: 5rem;
    

   @include breackpoint($br-1024) {
        margin-top: 40rem;
    }

    @include breackpoint($br-mobLarge) {
        position: relative;
        top: -32px;
        margin: 0 10px;
        background-color: $grey;
    }
}

.about_company h3 {
    @include breackpoint($br-mobLarge) {
        padding: 20px 0;
    }
}

.about_company_inner {
    display: flex;
    flex-wrap: wrap;
    
    margin: 5rem 0 4rem  14.5rem ;
    // position: absolute;
    // top: -6rem;
    // left: 14.5rem;
    
    background-color: $white;

    @include breackpoint($br-mobLarge) {
        background-color: $grey;
        
    }

    @include breackpoint($br-mobLarge) {
        width: 300px;
        margin: 0 auto;
        
    }

    
    
}

.about_company_block {
    position: relative;
    // z-index: 100;
    display: flex;
    width: 45%;
    
    background-color: $white;
    margin-bottom: 3.1rem;
    margin-right: 3rem;

    @include breackpoint($br-mobLarge) {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        margin-right: 0;
    }
    
}

.about_company :hover > .about_company_block  {
    box-shadow: .5rem 0px 3rem rgba(0, 0, 0, 0.1);
    transition: 1.5s;

    @include breackpoint($br-mobLarge) {
        box-shadow: none;
    }
    
}



// .about_company :hover > .block_to_move {
//     margin-left: 7rem;
  
// }

.about_company_image {
    width: 15rem;
    height: 15rem;
    background-color: #1C0B05;
    position: relative;
    flex-shrink: 0;

    @include breackpoint($br-mobLarge) {
        width: 300px;
        height: 150px;
        
    }

    // @include breackpoint($br-1280) {
    //     width: 9rem;
    //     height: 9rem;
        
    // }
}
.about_image {
    width: 6rem;
    height: 5rem;
    
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    // transform: translateY(-50%);
    transform: translate3d(-50%, -50%, 0);

    @include breackpoint($br-mobLarge) {
        width: 50px;
        height: 50px;
        
    }
}

.about_company_text {
    width: 100%;
    padding: 4.7rem 0 0 3rem;
    @include breackpoint($br-mobLarge) {
        text-align: center;
        padding: 0;
        padding: 30px 0 10px;
        
    }

    
}

.about_company_text h4 {
    padding-bottom: 2rem;
    font-size: 2rem;
    line-height: 2.6rem;
    color: $red;

    @include breackpoint($br-mobLarge) {
        font-size: 18px;
        line-height: 23px;
    }
}

.about_company_text p {
    font-size: 1.6rem;
    line-height: 3.1rem;
    color: $black;

    @include breackpoint($br-mobLarge) {
        font-size: 16px;
        line-height: 20.51px;
    }
}

