.about_company {
    position: relative;
    
   
}

.about_company_inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    position: absolute;
    top: -6rem;
    left: 14.5rem;

    background-color: $white;

    @include breackpoint($br-1440) {
        left: 7.5rem;
        top: -9rem;
        
    }

    @include breackpoint($br-1024) {
        left: 7.5rem;
        top: -10rem;
        
    }

    
    
}

.about_company_block {
    display: flex;
    width: 47%;
    
    background-color: $white;
    margin-bottom: 3.1rem;
    margin-right: 3rem;

    @include breackpoint($br-1280) {
        width: 90%;
        text-align: center;
        box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.1);
        
    }
    
}

.about_company_image {
    width: 15rem;
    height: 15rem;
    background-color: $black;
    position: relative;
    flex-shrink: 0;

    @include breackpoint($br-1440) {
        width: 12rem;
        height: 12rem;
        
    }

    @include breackpoint($br-1280) {
        width: 9rem;
        height: 9rem;
        
    }
}
.about_image {
    width: 6rem;
    height: 5rem;
    
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    // transform: translateY(-50%);
    transform: translate3d(-50%, -50%, 0)

}

.about_company_text {
    width: 100%;
    margin-top: 4.7rem;
    margin-left: 3rem;

    @include breackpoint($br-1440) {
        margin-top: 2rem;
        margin-left: 1.5rem;
        
    }
}

.about_company_text h4 {
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 2.6rem;
    color: $red;

    @include breackpoint($br-1440) {
        
        font-size: 1.8rem;
        line-height: 2rem;
        
    }
}

.about_company_text p {
    font-size: 1.6rem;
    line-height: 3.1rem;
    color: $black;

    @include breackpoint($br-1680) {
        line-height: 2rem;
        
    }

    @include breackpoint($br-1440) {
        line-height: 1.8rem;
        
    }
}