.clients {
    display: block;
    width: auto;
    // height: 78.6rem;
    background: $grey;
    color: $black;
    padding-top: 5rem;
    position: relative;
}

.slider_nav {
    position: relative;
    
    display: block;
    margin-top: 3rem;
    // border: 1px solid black;
    
}

   

.clients_arrows {
   
    margin-top: -5rem;
    @include breackpoint($br-1024) {
        margin-top: -8rem;
                
    }
}

// .clients_dots {
//     position: absolute;
//     bottom: 0;
// }

.clients_arrows .arrows:hover {
    background: $gold;
    opacity: 1;
}


.clients_inner {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-right: 8rem;

    @include breackpoint($br-mobLarge) {
        display: block;
        margin: 0;
     }
}

.clients_inner_image {
    width: 51%;

    @include breackpoint($br-mobLarge) {
        display: none;
        
        
    }
}

.clients_inner_image img {
    position: absolute;
    height: 69rem;
    top: 10rem;
    left: 0;
   
}



.clients_block {
    box-sizing: content-box;
    display: flex;
    box-shadow: .5rem 0px 2rem rgba(0, 0, 0, 0.1);
    height: 15rem;
    background-color: $white;
    @include breackpoint($br-mobLarge) {
        margin: 30px auto;
        display: block;
        width: 300px;
        height: 320px;
        box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.1);
        
    }
    
}

.clients_blocks_wrapper {
    margin: 0 auto;
}

.clients_blocks_inner {
    width: 49%;
    margin-bottom: 4rem;

    @include breackpoint($br-mobLarge) {
        width: 100%;
    }
}

.clients_blocks_wrapper {
    padding: 2rem 3rem;
    @include breackpoint($br-mobLarge) {
        padding: 0;
    }
}

.clients_block_image {
    width: 14rem;
    height: 14rem;
    position: relative;
    border: .5rem solid $gold;
    box-sizing: content-box;
    background-color: $white;
    overflow: hidden;
    @include breackpoint($br-mobLarge) {
        width: 300px;
        height: 150px;
        text-align: center;
        box-sizing: border-box;
        border: 3px solid $gold;
        
        
    }
    
    
}

.clients_block_image img {
    width: 14rem;
    height: 14rem;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
    @include breackpoint($br-mobLarge) {
        width: 116px;
        height: 116px;
        text-align: center;

    }
}

// .clients_block_image:nth-child(2)  {
//     width: 14rem;
//     height: 14rem;
// }

.clients_block_text {
    padding-left: 3rem;

    @include breackpoint($br-mobLarge) {
        
        text-align: center;

    }
}

.clients_heading {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2.6rem;
    margin: 4.7rem 0 1rem 0;

    @include breackpoint($br-mobLarge) {
        
       font-size: 18px;
       line-height: 23px;
       margin: 30px 0 10px 0;

    }
}

.clients_text {
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: 2rem;

    @include breackpoint($br-mobLarge) {
        
        font-size: 16px;
        line-height: 20.5px;
        margin-bottom: 10px;
     }
}

.stars {
    display: inline-flex    ;
}

.stars img {
    padding-left: 1rem;
    height: 1rem;
    @include breackpoint($br-mobLarge) {
        
        height: 10px;
 
     }
}
