.company {
    color: $black;
    margin-top: 3rem;
    background: $gold  url(../images/about-company.png) no-repeat;
    background-size: cover;
    
}

.company img{
    width: 1720px;
    height: 575px;
}
.company_heading {
   
    padding: 10rem 0 7rem;
    // @include breackpoint($br-1440) {
        
    //     padding-top: 5rem;
    //     margin-bottom: 4rem;
    // }
}

.company_text {
    display: block;
    margin: 0 25rem 4rem;
    // width: 120rem;
    text-align: center;
    font-size: 18px;
    line-height: 23px;

    // @include breackpoint($br-1440) {
    //     margin: 0 12rem 4rem;
        
    // }

    // @include breackpoint($br-1366) {
    //     margin: 0 8rem 4rem;
        
    // }
    // // margin-bottom: 4rem;
}

.company_button {
    padding-bottom: 10rem;

    // @include breackpoint($br-1366) {
    //     padding-bottom: 5rem;
        
    // }
}

.company_button button {
    display: block;
    margin: 0 auto;
    background-color: $red;
}

.company_button button:hover {
    background-color: $black;
    color: $white;
}