.container {
    max-width: 172rem;
    background-color: $white;
    position: relative;
    
    @include breackpoint($br-2560) {
        max-width: 2360px;
    }

    // @include breackpoint($br-mobLarge) {
    //     width: 320px;
    // }
}