footer {
    position: relative;
    padding-top: 5rem;
    
    color: #959595;
    font-size: 1.4rem;
    line-height: 2.7rem;
}

.footer_inner {
    margin: 0 11rem 5rem;

}

.footer_nav {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 11rem;
    float: right;
    height: 17.5rem;
    font-size: 1.6rem;
    line-height: 4.1rem;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 6.5rem;

   

    // @include breackpoint($br-1280) {
    //     display: block;
        
    // }
}

.footer_nav_list {
    
    margin-right: 5rem;

    // @include breackpoint($br-1440) {
    //     margin-right: 5rem;
    //     margin-bottom: 7rem;
        
    // }
}

.footer_nav a {
    font-family: $medium;
    text-decoration: none;
    color: $red;
}

.footer_nav a:hover {
    color: $gold;
}

.footer_logo img {
    width: 15.5rem;
    height: 2.6rem;
}

.footer_blocks {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 38rem;
    
    // @include breackpoint($br-1440) {
    //     margin-right: 35rem;
        
    // }

    // @include breackpoint($br-1280) {
    //     margin-right: 20rem;
        
    // }
    
}

.footer_block {
    margin-top: 2rem;
}

.footer_block li:first-child, .footer_block span {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 3.1rem;
    color:#646464;
}

.footer_block span {
    display: block;
    margin: 1rem 0;
    
}

.footer_social {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    
}

.footer_social span {
    width: 4.8rem;
    height: 4.8rem;
    border: none;
}
.img_vk{
    
    width: 4.8rem;
    height: 4.8rem;
    content: url(../images/footer/vk.png);
}

.img_vk:hover {
    content: url(../images/footer/vk_hover.png);
    transition: 2s;
}

.img_inst {
    
    content: url(../images/footer/inst.png);
}

.img_inst:hover {
    content: url(../images/footer/inst_hover.png);
    transition: 1s;
}

.img_fb {
    content: url(../images/footer/fb.png);
}

.img_fb:hover {
    content: url(../images/footer/fb_hover.png);
    transition: 1s;
}

.footer_policy {
    height: 8.8rem;
    display: flex;
    justify-content: space-between;
    background-color: $grey;
    font-size: 1.4rem;
    line-height: 2.3rem;  
    color: $black;
    padding: 3.7rem 11rem;
}

.footer_policy div:first-child {
    font-weight: bold;
}

.footer_policy a:hover {
    color: $gold;
}