

.nav_base {
    position: absolute;
    top: 0;
    right: 0;
    margin: 7rem 11rem 0 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    
    height: 2rem;
  
    // @include breackpoint($br-1440) {
    //     margin-top: 110px;
        
    // }
}

.nav_base a {
    font-family: $demi;
    font-size: 1.6rem;
    line-height: 3.1rem;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
    padding-left: 3rem;
    // @include breackpoint($br-1440) {
    //     font-size: 14px;
        
    // }

}


nav a:hover {
    // While hovering
// Open overlay: "Frame 26";
// Animate: Dissolve;
color: $gold;
animation-timing-function: cubic-bezier(Ease Out);
animation-duration: 300ms;

}





