

.nav_base {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 11rem;
    padding-top: 7rem;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: 63.8rem;
    height: 2rem;

    

    @include breackpoint($br-1440) {
        margin-right: 5.5rem;
        width: 54.8rem;
    }
    

    @include breackpoint($br-1280) {
        margin-right: 2.5rem;
        
    }

    @include breackpoint($br-1024) {
        padding-top: 8rem;
        margin-right: 5.5rem;
    }
}

.nav_base a {
    font-size: 16px;
    line-height: 31px;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;

    @include breackpoint($br-1440) {
        font-size: 14px;
        
    }

}


nav a:hover {
    // While hovering
// Open overlay: "Frame 26";
// Animate: Dissolve;
color: $gold;
animation-timing-function: cubic-bezier(Ease Out);
animation-duration: 300ms;

}





