.loans {
    color: $black;
    margin: 0 9.5rem;

    @include breackpoint($br-1440) {
        
        margin: 0 5.5rem;
    }
}

.loans_header {
    margin: 5rem 0;

    @include breackpoint($br-1280) {
        margin-top: 5rem;
        margin-bottom: 0;
        
    }
   
}

.loans_block {
    display: flex;
    margin-bottom: 4rem;

    @include breackpoint($br-1280) {
        margin-bottom: 1rem;
        
    }
}

.loans_block_image {
    display: block;
    width: 52%;
    height: 55rem;
    position: relative;
    margin: 0 2.5rem;
    overflow: hidden;

    @include breackpoint1($br-1920) {
        width: 37%;
    }
    

    @include breackpoint($br-1280) {
        display: none;
        
    }
}

.loans_block_image hr {
    background: $white;
    border: none;
}

.loans_block_image hr:after {
    display: block;
    content: "";
    width: 50%;
    height: .5rem;
    background: $gold;
    position: absolute;
    top: 0.5rem;
    z-index: 10;
    

}

.loans_block_image img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
    
    // @include breackpoint($br-1920) {
    //     width: 100%;
    // }
}

.loans_block_text {
    width: 48%;
    // height: 55rem;
    padding: 7rem 2.5rem 0;

    @include breackpoint1($br-1920) {
        width: 63%;
    }

    @include breackpoint($br-1680) {
        padding: 3rem 2.5rem 0;
        
    }

    @include breackpoint($br-1440) {
        
        padding: 2.5rem 1.5rem 0;
    }

    @include breackpoint($br-1280) {
        width: 95%;
        
    }
}

.loans_date {
    margin-bottom: 4rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    color: #E5E5E5;

    @include breackpoint($br-1680) {
        margin-bottom: 2rem;
        
    }
}

.loans_heading {
    margin-bottom: 4rem;
    font-size: 2.4rem;
    line-height: 3.1rem;
    color: $dark_black;
    position: relative;

}

.loans_heading:after {
    display: block;
    content: "";
    width: 10rem;
    height: .5rem;
    background: $gold;
    position: absolute;
    top: 4rem;
    left: 0;
}

.loans_text {
    margin-bottom: 5rem;
    font-size: 1.6rem;
    line-height: 3.1rem;
}

.loans_block_text button {
    background-color: $gold;
}

.loans_block_text button:hover {
    background-color: $red;
}