.sidebar {
    
    width: $sidebar-width;
    height: 100vh;

    background-color: #1C0B05;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: .5rem 0 1rem 0 #0000004D;

    @include breackpoint($br-1024) {
        width: 100%;
        height: 80px;
  }

}

// .sidebar_container {
//     margin-left: 3.8rem;

//     @include breackpoint($br-1024) {
//         margin-left: 5rem;
//         margin-bottom: 0;
//     }
// }


.sidebar_header {
    // display: block;
    // width: auto;
    min-height: calc(100vh - 15rem);
    padding-top: 5rem;
    
    

    @include breackpoint($br-1024) {
        margin: 0;
        padding: 5rem 0;
        height: auto;

    }
}

.sidebar_header img {
    width: 12.3rem;
    
    margin-left: 3.8rem;
    // margin-bottom: 10rem;
    @include breackpoint($br-1024) {
        margin-left: 8.2rem;

    }
  
}

.nav {
    
    font-size: 2rem;
    line-height: 3.8rem;
    padding: 10rem 0 0 3.8rem;
    
    @include breackpoint($br-1024) {
        display: none;
    }

    // @include breackpoint($br-1440) {
    //     font-size: 1.8rem;
        
    // }
}

.sidebar_navigation >li{
    display: block;
    position: relative;
    margin-bottom: 4rem;
}

.sidebar_nav {
    color: $white;
    
    display: inline-block;

    // height: 5.8rem;
    // line-height: 5.8rem;
    
    
    position: relative;

}




.sidebar_navigation li:hover a{
    color: $gold;
}



.arrow_nav {
    
   
    content: url(../images/arrow_right.png);
    position: relative;
    width: .7rem;
    height: 1rem;
    // margin-left: .4rem;
    margin-bottom: .1rem;
    background-color: transparent;
    

    
}
.sidebar_navigation> li:hover .arrow_nav {

    content: url(../images/arrow_gold.png);
    transition: 1s;
       
}

.sidebar_nav a {
    cursor: pointer;
    
}

.sidebar_navigation >li .sidebar_nav {
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
}

.sidebar_navigation li:hover .sidebar_nav{

    // content: '';
    // position: absolute;
    // right: 0;
    // left: 0;
    // bottom: 10px;
    // width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid $gold;
    transition: 1s;

    

}

.union img{
    width: 64px;
    height: 18px;
}

.clicked {
    background: $gold;
    // height: 5.8rem;
    // line-height: 5.8rem;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);

}



.sidebar_footer {
    display: block;
    width: auto;
    margin-left: 3.8rem;
    @include breackpoint($br-1024) {
        display: none;
    }
}

.tel {
    font-size: 1.6rem;
    line-height: 2.1rem;

    color: $gold;
    text-decoration: none;
    
}

.tel:hover {
    color: $red;
}

.adress {
    margin-top: 3rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $white;
    

}

.adress span {
    font-family: $demi;
}

.nav_inner {
    display: flex;
    justify-content: space-around;
    font-size: 1.6rem;
    line-height: 3.8rem;
    
   


}

// .nav_inner span{
//     display: block;
//     padding-top: 5rem;
//     font-size: 2rem;
//     color: $gold;

// }

.nav_inner h2 {
    display: block;
    padding-top: 7rem;
    font-size: 2rem;
    color: $gold;
    
}

.nav_inner a {
    position: relative;
}

.nav_left, .nav_right {
    width: 32rem;
}


.menu_button {
    width: 20px;
    padding: 10px 0;
    // line-height: 30;
    // font-size: 0;
    // color: $gold;
    cursor: pointer;
    border: 0;
    display: none;
    float: right;
    
    margin-right: 11rem;
    // z-index: 1000;

    @include breackpoint($br-1024) {
        display: block;
    }
}

// .menu_item {
//     background: $gold;
//     width: 20px;
//     height: 1px;
//     // position: absolute;
//     // top: 0;
//     // right: 0;
   
// }

.menu_item, .menu_item:before, .menu_item:after {
    content: "";
    display: block;
    width: 20px;
    height: 1px;
    background: $gold;
    position: relative;
    
    right: 0;
    z-index: 100;
}

.menu_item:before {
    top: 5px;
    
}

.menu_item:after {
    bottom: 6px;
}

.nav_show {
    display: none;
    width: 78.6rem;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 20rem;
    z-index: 1000;
    background-color: $black;
    color: $white;
    @include breackpoint($br-1024) {
        
        left: 0;
    }
}

.showed {
    display: block;
}

.close_button {
    margin-top: 4rem;
    margin-left: 65rem;
    width: 10.3rem;
    height: 2rem; 
    
    border: none;
    background-color: transparent;
    font-size: 1.8rem;
    line-height: 3.4rem;
    text-align: right;
    text-transform: uppercase;
    color: #6A6A6A;
}

.sidebar_cross:after {
    content: "";
    display: block;
    width: .1rem;
    height: 1.5rem;
    background: $gold;
    border-radius: .5rem;
    position: absolute;
    top: .5rem;
    right: -2rem;
}

.sidebar_cross:before {
    content: "";
    display: block;
    width: .1rem;
    height: 1.5rem;
    background: $gold;
    border-radius: .5rem;
    transform: rotate(90deg);
    position: absolute;
    top: .5rem;
    right: -2rem;
}