.sliders_controls {
    
    height: 5rem;
    line-height: 5rem;
   
    text-align: center;
    position: relative;
 
}



.slick-dots li {
    display: inline-block;
    list-style-type: none;
      
}

.slick-dots li button {
    
    width: 1rem;
    height: 1rem;
    font-size: 0; 
    border-radius: 50%;
    background-color: $white;
    margin-right: 2rem;
    opacity: .5;
    border: none;
    padding: 0;
    
    @include breackpoint($br-1024) {
        width: 0.5rem;
        height: 0.5rem;
        margin-right: 1rem;
    
    }

}


// .dots_inner ul li button{

//     @include breackpoint($br-1024) {
//         width: 0.5rem;
//         height: 0.5rem;
//         margin-right: 1rem;
//     }
// }



.slick-dots li[class="slick-active"] button {
    opacity: 1;
   
}

.serv_dots_inner .slick-dots li button {
    background-color: $dark_grey;
}

.serv_dots_inner .slick-dots li[class="slick-active"] button {
    background-color: $gold;
}

.clients_dots .slick-dots li button {
    background-color: $dark_grey;
}

.clients_dots .slick-dots li[class="slick-active"] button {
    background-color: $gold;
}

