.start_block {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background: #1B1B1B;
    position: relative;
    
    @include breackpoint($br-1024) {
        height: 100rem;   
    }

    @include breackpoint($br-mobLarge) {
        height: auto;
    }
   
}

.offer_block {
    width: 50rem;
    min-height: calc(100vh + 22rem);
    position: absolute;
    left: 0;
    background-color: $gold;
    padding: 17rem 8rem 0 5rem;
   

       @include breackpoint($br-1024) {
        width: 100%;
        height: 23rem;
        position: absolute;
        left: 0;
        bottom: -23rem;
        padding: 0;
        min-height: 23rem;
    }

    @include breackpoint($br-mobLarge) {
        position: static;
        padding: 0;
        
    }
  
}

.offer_block_inner {
   
    background-color: $gold;
    

  
    @include breackpoint($br-1024) {
        
        display: flex;
        
        
        
    }

    @include breackpoint($br-mobLarge) {
        padding-top: 10px;
        flex-wrap: wrap;
        width: 300px;
        margin: 0 auto;
    }
}
.offer_block_inner div {
    @include breackpoint($br-mobLarge) {
           
        width: 50%;
    }
}


.offer_block_inner h3 {
    // padding-top: 6.35rem;
    padding-bottom: 2rem;
    
    text-align: left;
    color: $black;
    
    @include breackpoint($br-1024) {
        text-align: center;
        font-size: 4rem;
        line-height: 5rem;
        text-decoration-line: underline;
         padding-top: 3.8rem;
        
    }

    @include breackpoint($br-mobLarge) {
       padding-top: 10px;
       font-size: 18px;
       line-height: 23px;
       text-align: center;
        
    }

    @include breackpoint($br-mobSmall) {
        
        padding-bottom: 0;
        padding-left: 40px;
        text-align: left;
    }
}

.offer_block_inner p {
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: $white;
    padding-bottom: 5rem;

    
    @include breackpoint($br-1024) {
        text-align: center;
        font-size: 2.65rem;
        line-height: 3.8rem;
        // margin: 0 1rem;
        padding: 0 4.5rem 8rem;
    }

    @include breackpoint($br-mobLarge) {
        display: none;
    }
}



.banner_block {
    // width: 71%;
    margin-left: 20rem;
    overflow: hidden;
    position: relative;
    height: 100vh;

    // @include breackpoint($br-1920) {
    //     margin-left: 50rem;
    // }
   
    // @include breackpoint($br-1680) {
    //     margin-left: 43rem;
    // }
    
    // @include breackpoint($br-1440) {
    //     margin-left: 35rem;
    // }

    // @include breackpoint($br-1280) {
    //     margin-left: 31rem;
    // }
    
    @include breackpoint($br-1024) {
        margin-left: 0;
        margin-top: 8rem;
        width: 100%;
        height: 110rem;
        
        
    }

    @include breackpoint($br-mobLarge) {
       
       

        min-height: calc(100vh - 172px);
        margin-top: 80px;
    }

    @include breackpoint($br-mobSmall) {
        max-height: calc(100vh - 172px);
        margin-top: 80px;
    }
}



.banner_block_image {
    
   float: right;
   overflow: hidden;

}
.banner_block_image_cover {
    background: #1B1B1B;
    opacity: .3; 
}

.banner_block_image img {
    width: 100%;
    height: 100vh;
    top: 0;
    
    margin-left: auto;
    object-fit: cover;	

    @include breackpoint($br-1024) {
        
        height: auto;
        
        
    }

    @include breackpoint($br-mobSmall) {
        position: relative;
        width: 508px;
        min-height: calc(100vh);
        left: -80px;
    }
    
}
// .banner_block:before {
//     background: url('../images/start_logo.png')no-repeat scroll 0 0 transparent;
//     opacity: 0.3;
//     position: absolute;
//     top: 0;
//     left: -20rem;
//     bottom: 0;
//     right: 0;
//     content: "";
  
//     z-index: 0;

//     @include breackpoint1($br-1920) {
//         left: 0;
//         background-size: cover;
        
//     }
    

//     @include breackpoint($br-1440) {
//         left: -40rem;
        
//     }
// }

// .banner_block_slider {
//     // z-index: 10;
// }


.banner_block_inner {
    
    height: 100rem;
   
    padding: 25rem 11rem 0 0;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    @include breackpoint($br-1024) {
        padding-top: 25rem;
        // height: 45rem;
        
    }

    @include breackpoint($br-mobLarge) {
        
        display: block;
        width: 100%;
        height: auto;
        margin-right: 0;
        padding-top: 0;
        padding-right: 0;
        
    }
}

.heading {
   
    // max-width: 85rem;
    line-height: 8.5rem;
    letter-spacing: 0.02em;
    text-align: right;
    padding-bottom: 3rem;
    @include breackpoint($br-1024) {
        padding-bottom: 0;
       
    }
    
}

.heading  h1 {
    @include breackpoint($br-1024) {
       
        font-size: 6rem;
    }

    @include breackpoint($br-mobLarge) {
        font-size: 30px;
        line-height: 38.46px;
        margin: 0;
        padding: 0;
        width: 320px; 
        text-align: center;
    }
}

.heading .display_none {
    margin: 0 auto;
}

.form_inner {
 
    
    z-index: 10;

    @include breackpoint($br-1024) {
        margin-top: 0;
    }
    
}

.form_inner  form {
    display: flex;

    @include breackpoint($br-mobLarge) {
        display: block;
    }
}


// .form_inner div {
//     @include breackpoint($br-mobLarge) {
//         display: block;
//         margin: 0 auto;
//     }
// }
.request_input {
    margin-right: 2rem;
    background-color: $white;
    opacity: .7;
    padding-left: 2rem;
    border: none;

    @include breackpoint($br-mobLarge) {
        margin: 0 auto;
        display: block;
        font-size: 18px;
    }
   
}

.request_input::-webkit-input-placeholder {
    color: $black;
    font-family: $book;
    font-size: 1.8rem;
    @include breackpoint($br-1024) {
       
        font-size: 3rem;
    }

    @include breackpoint($br-mobLarge) {
        text-align: center;
        font-size: 18px;
    }
}

.submit_input {
    padding: 0;
    background-color: $gold;
    border: none;
    color: $black;
    font-family: $book;
    font-size: 1.8rem;
    @include breackpoint($br-1024) {
       
        font-size: 3rem;
    }

    @include breackpoint($br-mobLarge) {
        margin: 0 auto;
        display: block;
        font-size: 18px;
    }
}

.submit_input:hover {
    padding: 0;
    background-color: $red;
    color: $white;
}

.form_subtext {
    color: $white;
    text-align: right;
    font-size: 1.3rem;
    margin-top: 1rem;
    

    @include breackpoint($br-1024) {
        font-size: 2.1rem;
    }

    @include breackpoint($br-mobLarge) {
        width: 262px;
        text-align: center;
        font-size: 12px;
        line-height: 15px;
        font-family: $bold;
        padding-top: 10px;
        margin: 0 auto;
       
    }

    @include breackpoint($br-mobSmall) {
        padding-top: 5px;
    }
}


// .start_block_bottom {
//     display: flex;
//     background-color: $white;
//     position: relative;
   
// }

// .bottom_offer_block {
//     width: 29%;
//     height: 20.6rem;
//     background-color: $gold;
//     // position: relative;

//     // @include breackpoint($br-1440) {
//     //     height: 17rem;   
//     // }

//     // @include breackpoint($br-1024) {
//     //     height: 15rem;   
//     // }
// }

.sliders_controls_separate {
        
    position: absolute;
    top: -10rem;

    @include breackpoint($br-1024) {
        top: -20rem; 
        display: block;
        float: right;
        
       
    }

    
    @include breackpoint($br-mobLarge) {
        width: 20rem;
        top: -30rem; 
        display: block;
        float: none;
        margin: 0 auto;
        
       
    }

    
    
}

.start_dots_inner {

    // width: 11rem;
    display: flex;
  
    margin-left: 5rem;
    z-index: 10;

    @include breackpoint($br-1024) {
        // top: -25rem;
        // left: unset;
        // right: 0;
        margin: 0;
        padding-left: 3.5rem;
    }
 

    @include breackpoint($br-mobLarge) {
        
        top: unset;
        right: unset;
        padding-left: 0;
       
    }

    

}



.bottom_banner_block {
    width: 71%;
    height: 20.6rem;
    background-color: $white;
    position: relative;
    padding: 0;
}

.bottom_banner_block h3{
    margin: 5.4rem 0 0 11.4rem;
    color: $black;
    text-align: left;

//    @include breackpoint($br-1440) {
//     margin: 4.4rem 0 0 6.4rem;
    
    
//     }

//     @include breackpoint($br-1024) {
//         margin: 3.4rem 0 0 9.4rem;
     
//     }

}



// 

.display_ {
    @include breackpoint($br-1024) {
        display: none;
    }
}

.display_none {
    display: none;
    @include breackpoint($br-1024) {
        display: block;
    }
}