<footer>
    <div class="footer_inner">
        <div class="footer_nav">
            <div class="footer_nav_list">
                <ul>
                    <li><a href="">Главная</a></li>
                    <li><a href="">О компании</a></li>
                    <li><a href="">Услуги</a></li>
                    <li><a href="">Hовости</a></li>
                    <li><a href="">Контакты</a></li>
                </ul>
            </div>
            <div class="footer_logo">
                <img src="assets/images/footer/logo.png" alt="">
                <div class="footer_social">
                    <a href=""><span class="img_vk" ></a>
                    <a href=""><span class="img_inst"></a>
                    <a href=""><span class="img_fb" ></a>
                </div>
            </div>
        </div>
        <div class="footer_blocks">
            <div class="footer_block">
                <ul>
                    <li><a href=""><h4>НАЛОГОВЫЙ КОНСАЛТИНГ</h4></a></li>
                    <li><a href="">Налоговые консультации</a></li>
                    <li><a href="">Консультации по бухгалтерскому учету</a></li>
                    <li><a href="">Бухгалтерский клуб</a></li>
                    <li><a href="">Семинары</a></li>
                    <li><a href=""><h4><span>АУДИТОРСКИЕ услуги</span></h4></a></li>
                    <li><a href="">Аудит финансовой отчетности</a></li>
                    <li><a href="">Сопутствующие аудиторские услугиры</a></li>
                </ul>
            </div>
            <div class="footer_block">
                <ul>
                    <li><a href=""><h4>ЮРИДИЧЕСКИЕ УСЛУГИ</h4></a></li>
                    <li><a href="">Юридические консультации</a></li>
                    <li><a href="">Создание бизнеса</a></li>
                    <li><a href="">Регистрация юридического лица</a></li>
                    <li><a href="">Регистрация ФЛП</a></li>
                    <li><a href="">Внесение изменений</a></li>
                    <li><a href="">Регистрация торговой марки</a></li>
                </ul>
            </div>
            <div class="footer_block">
                <ul>
                    <li><a href=""><h4>БУХГАЛТЕРСКИЙ АУТСОРСИНГ</h4></a></li>
                    <li><a href="">Ведение бухгалтерского учета у юр.лиц</a></li>
                    <li><a href="">Ведение бухгалтерского учета у ФЛП</a></li>
                    <li><a href="">Восстановление бухгалтерского учета</a></li>
                    <li><a href="">Реорганизация предприятия</a></li>
                    <li><a href="">Ликвидация предприятия</a></li>
                    <li><a href="">Ликвидация ФЛП</a></li>
                    <li><a href="">Составление и правовой анализ договоров</a></li>
                    <li><a href="">Представительство в суде</a></li>
                </ul>
            </div>
            <div class="footer_block">
                <ul>
                    <li><a href=""><h4>КАДРОВЫЙ КОНСАЛТИНГ</h4></a></li>
                    <li><a href="">Кадровый аудит</a></li>
                    <li><a href="">Подбор персонала</a></li>
                </ul>
            </div>
         </div>
    </div>    
    
    </div><!-- footer_inner -->
    <div class="footer_policy">
        <div>
            <a class="year" href="">
                <script>
                    document.write("Tehno.K "+ new Date().getFullYear()+ " (c) ");
                </script>
            </a>
        </div>
        <div><a href="">Политика конфиденциальности</a></div>
        <div><a href="">Разработка и поддержка SHEEP.FISH</a></div>
    </div>
</footer>
