<aside class="sidebar">
    <!-- <div class="sidebar_container"> -->
        <div class="sidebar_header">
            <a href="#top"><img src="assets/images/header_logo.png" alt=""></a>
            <div class="menu_button">
                <span class="menu_item"></span>
            </div>  
            
            
            
        </div>
        <div class="sidebar_body">
            <nav class="nav">
                <ul class="sidebar_navigation">
                    <li>
                        <a class="sidebar_nav" href="">О компании</a>
                    </li>
                    <li class="background_gold">
                        <a class="sidebar_nav" href="" onclick="return false;">Услуги</a>
                        <span class="arrow_nav"></span>
                    </li>
                    <li>
                        <a class="sidebar_nav" href="">Новости</a>
                    </li>
                    <li>
                        <a class="sidebar_nav" href="">Контакты</a>
                    </li>
                </ul>
            </nav>  
            <div class="sidebar_footer">
                <div class="tel"><a href="tel:+75655656545">
                   <p>+7 565 565-65-45 <br><span>Заказать звонок</span></p></a>
                </div>
                <div class="adress">
                    <p><span>Офис в Москве:</span></p>
                    <p>ул. Карла Маркса 51,</p>
                    <p>кабинет 265</p>
                </div>
            </div>
        </div>
        <nav class="nav_show">
            <button class="close_button">Закрыть</button>
            <div class="nav_inner">
                <div class="nav_left">
                    <ul>
                        <li><h2><a href="">АУДИТОРСКИЕ УСЛУГИ<span class="sidebar_cross"></span></a></h2></li>
                        
                        <li><a href="">Аудит финансовой отчетности</a></li>
                        <li><a href="">Сопутствующие аудиторские услуги</a></li>
                        <li><a href="">DUE DILIGENCE</a></li>
                    </ul>
                    <ul>
                        <li><h2><a href="">НАЛОГОВЫЙ КОНСАЛТИНГ<span class="sidebar_cross"></span></a></h2></li>
                        <li><a href="">Налоговые консультации</a></li>
                        <li><a href="">Консультации по бухгалтерскому учету</a></li>
                        <li><a href="">Бухгалтерский клуб</a></li>
                        <li><a href="">Семинары</a></li>
                    </ul>
                    <ul>
                        <li><h2><a href="">КАДРОВЫЙ КОНСАЛТИНГ<span class="sidebar_cross"></span></a></h2></li>
                        <li><a href="">Кадровый аудит</a></li>
                        <li><a href="">Подбор персонала</a></li>
                    </ul>
                    <h2><a href="">ФРАНЧАЙЗИНГ<span class="sidebar_cross"></span></a></h2>
                    <h2><a href="">DUE DILIGENCE<span class="sidebar_cross"></span></a></h2>
                  
                </div>
                <div class="nav_right">
                    <ul>
                        <li><h2><a href="">БУХГАЛТЕРСКИЙ АУТСОРСИНГ<span class="sidebar_cross"></span></a></h2></li>
                        <li><a href="">Ведение бухгалтерского учета у юр.лиц</a></li>
                        <li><a href="">Ведение бухгалтерского учета у ФЛП</a></li>
                        <li><a href="">Восстановление бухгалтерского учета</a></li>
                    </ul>
                    <ul>
                        <li><h2><a href="">ЮРИДИЧЕСКИЕ УСЛУГИ<span class="sidebar_cross"></span></a></h2></li>
                        <li><a href="">Юридические консультации</a></li>
                        <li><a href="">Создание бизнеса</a></li>
                        <li><a href="">Регистрация юридического лица</a></li>
                        <li><a href="">Регистрация ФЛП</a></li>                
                        <li><a href="">Внесение изменений</a></li>
                        <li><a href="">Регистрация торговой марки</a></li>
                        <li><a href="">Реорганизация предприятия</a></li>
                        <li><a href="">Ликвидация предприятия</a></li>
                        <li><a href="">Ликвидация ФЛП</a></li>
                        <li><a href="">Составление и правовой анализ договоров</a></li>
                        <br>
                        <li><a href="">Представительство в суде</a></li>
                    </ul>
                </div>
                  
            </div>
            
            <img class="nav_inner_arrow" src="assets/images/nav_inner_arrow.svg" alt="">
        </nav>
        
    <!-- </div> -->
</aside>