<aside class="sidebar">
    <div class="sidebar_header">
        <img src="assets/images/header_logo.png" alt="">
        <div>
            <div class="sidebar_nav"><a href="">О компании</a></div>
        </div>
        
        <div class="sidebar_nav arrow_nav"><a href="" >Услуги</a></div>
        <div>
            <div class="sidebar_nav"><a href="">Новости</a></div>
        </div>
        <div>
            <div class="sidebar_nav"><a href="">Контакты</a></div>
        </div>
        
        
    </div> 
    <div class="sidebar_footer">
        <div><a class="tel" href="tel:+75655656545">+7 565 565-65-45
            Заказать звонок</a></div>
        <div class="adress">
            <p>Офис в Москве:</p>
            <p> ул. Карла Маркса 51,</p>
            <p>кабинет 265</p>
        </div>
    </div>
    <nav class="nav_show">
        <button class="close_button">Закрыть</button>
        <div class="nav_inner">
            <div class="nav_left">
                <ul>
                    <li><a href=""><h4>АУДИТОРСКИЕ УСЛУГИ </h4></a></li>
                    <li><a href="">Аудит финансовой отчетности</a></li>
                    <li><a href="">Сопутствующие аудиторские услуги</a></li>
                    <li><a href=""><h4>DUE DILIGENCE</h4></a></li>
                    <li><a href=""><h4>НАЛОГОВЫЙ КОНСАЛТИНГ</h4></a></li>
                    <li><a href="">Налоговые консультации</a></li>
                    <li><a href="">Консультации по бухгалтерскому учету</a></li>
                    <li><a href="">Бухгалтерский клуб</a></li>
                    <li><a href="">Семинары</a></li>
                    <li><a href=""><span>КАДРОВЫЙ КОНСАЛТИНГ  +</span></a></li>
                    <li><a href="">Кадровый аудит</a></li>
                    <li><a href="">Подбор персонала</a></li>
                    <li><a href=""><span>ФРАНЧАЙЗИНГ  +</span></a></li>
                    <li><a href=""><span>DUE DILIGENCE  +</span></a></li>

                </ul>
            </div>
            <div class="nav_right">
                <ul>
                    <li><a href=""><span>БУХГАЛТЕРСКИЙ АУТСОРСИНГ+</span></a></li>
                    <li><a href="">Ведение бухгалтерского учета у юр.лиц</a></li>
                    <li><a href="">Ведение бухгалтерского учета у ФЛП</a></li>
                    <li><a href="">Восстановление бухгалтерского учета</a></li>
                    <li><a href=""><span>ЮРИДИЧЕСКИЕ УСЛУГИ  +</span></a></li>
                    <li><a href="">Юридические консультации</a></li>
                    <li><a href="">Создание бизнеса</a></li>
                    <li><a href="">Регистрация юридического лица</a></li>
                    <li><a href="">Регистрация ФЛП</a></li>                
                    <li><a href="">Внесение изменений</a></li>
                    <li><a href="">Регистрация торговой марки</a></li>
                    <li><a href="">Реорганизация предприятия</a></li>
                    <li><a href="">Ликвидация предприятия</a></li>
                    <li><a href="">Ликвидация ФЛП</a></li>
                    <li><a href="">Составление и правовой анализ договоров</a></li>
                    <li><a href="">Представительство в суде</a></li>


                </ul>
            </div>
            
        </div>
    </nav>
    <div class="menu_button">
        <span class="menu_item"></span>
    </div>
    
</aside>